<div class="belowNavbar">
	
	<% @apartments.each do |apartment| %>
		 <p> <%= apartment.price %> </p> 
		 <p> <%= apartment.address %>  </p> 
		 <p> <%= apartment.VT_Link %>  </p> 

	<% end %>
</div>


