<div class="belowNavbar">
	<%= @address %>, <%= @price %>

<a href= "<%=@VT_Link %>" > 360 Tour Link </a>

<!--@ApartmentImages brinsg me all rows in the ApartmentImage table related to this specific apt id. 
	STILL NEED TO CALL .image to get that column of data  out -->




<%	@ApartmentImages.each do |photoURL| %> 
<img src= "<%= photoURL.image %>" />			
			<% end %>








</div>